<!DOCTYPE html>



  <html lang="zh-Hans">

<head>
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
  <meta charset="UTF-8">
  <title>PWC CGM V1.0</title>
  <!-- <meta name="viewport" http-equiv="content-type" content="text/html, charset=utf-8"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='./static/chat/jquery.mCustomScrollbar.min.css'><link rel="stylesheet" href="./static/chat/style.css">


  <style> 
  
  body { margin: 0; } 
  
  
  

  </style>




  <script src="static/src/three-0.141.0.js"></script>
  <script src="static/src/three-spritetext.min-1.6.5.js"></script>
  <script src="static/src/3d-force-graph-1.70.1.js"></script>
  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>


 <body>

  <div id="3d-graph"></div>
<!-- <input type="text" name="search" id="s"><input type="button" onclick="SearchFunction()" value="search" id="b">
 -->



<!-- partial:index.partial.html -->
<!--
Inspired by https://dribbble.com/supahfunk
-->
<section class="avenue-messenger">
  <div class="menu">
   <div class="items"><span>
     <a href="#" title="Minimize">&mdash;</a><br>
<!--     
     <a href="">enter email</a><br>
     <a href="">email transcript</a><br>-->
     <a href="#" title="End Chat">&#10005;</a>
     
     </span></div>
    <div class="button">...</div>
  </div>
  <div class="agent-face">
    <div class="half">
     <img class="agent circle" src="./static/chat/17.jpg" alt="Jesse Tino"></div>
  </div>
<div class="chat">
  <div class="chat-title">
    <h1>PWC </h1>
    <h2>CHAT</h2>
  <!--  <figure class="avatar">
      <img src="http://askavenue.com/img/17.jpg" /></figure>-->
  </div>
  <div class="messages">
    <div class="messages-content"></div>
  </div>
  <div class="message-box">
    <textarea type="text" class="message-input" id="s2" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit" id="b2">Send</button>
  </div>
</div>
</section>
<!--<div class="bg"></div>-->
<!-- partial -->
<script src='./static/chat/jquery.min.js'></script>
<script src='./static/chat/jquery.mCustomScrollbar.concat.min.js'></script>
<script  src="./static/chat/script.js"></script>




















  <script>


    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .jsonUrl('./static/datasets/test_data.json')
        .nodeLabel('id')
        .nodeAutoColorBy('group')
        .linkThreeObjectExtend(true)
        .linkOpacity([0.6])
        .linkWidth([0.15])
        .linkThreeObject(link => {
          // extend link with text sprite
          const sprite = new SpriteText(`${link.name}`);
          sprite.color = 'lightgrey';
          sprite.textHeight = 3;
          return sprite;
        })

        .nodeThreeObject(node => {
          const sprite = new SpriteText(node.id);
          sprite.material.depthWrite = false; // make sprite background transparent
          sprite.color = node.color;
          sprite.textHeight = 8;
          // sprite.scale.set(10, 5, 1 );




function Aim(){
  
  //console.log() ;
  // console.log("^^^^^^^^^^^^^^^^^^^^^^^^^^^^");
  //msg = $('.message-input').val();
  // console.log(msg);
  // console.log(msg.split("的"));
  // console.log(msg.split("的")[0]);
  // console.log("------------------");
  if (msg.split("的")[0]===node.id){

// console.log("------------------");
// console.log(msg);
// console.log("------------------");
// console.log(node.id);

// Aim at node from outside it
const distance = 80;
const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);
console.log(node.id);

const newPos = node.x || node.y || node.z
  ? { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }
  : { x: 0, y: 0, z: distance }; // special case if node is in (0,0,0)

Graph.cameraPosition(
  newPos, // new position
  node, // lookAt ({ x, y, z })
  3000  // ms transition duration
);
}
}
/////////////////



function putJson(inputTxt){


//var url = "./static/datasets/index.json"
var url = "http://192.168.31.67:5000/neo"

var request = new XMLHttpRequest();

request.open("POST", url,true);
request.setRequestHeader("Content-Type", "application/json");


request.onload = function (e) {
  if (request.readyState === 4) {
    if (request.status === 200) {
    console.log(request.responseText);
    } else {
    console.error(request.statusText);
    }
    }
  };
  request.send(JSON.stringify({"inputTxt":[inputTxt]})); 
  //console.log("--------<<<<");
  //console.log(inputTxt );

    return inputTxt;
}





document.getElementById('b2').addEventListener('click', event => {

  // if ($('.message-input').val()!=""){
  //     //console.log("------>>>");
  //     //console.log( $('.message-input').val() );
  //     putJson($('.message-input').val());
      
  //   }   
  Aim();

  $('.message-input').val("");//



    });



  $(window).on('keydown', function(e) {
  if (e.which == 13) {

    // if ($('.message-input').val()!=""){
    //   //console.log("------>>>");
    //   //console.log( $('.message-input').val() );
    //   putJson($('.message-input').val());
      
    // }    
    Aim();




    
    $('.message-input').val("");//
    return false;
  }
});




///////////////////////////

          return sprite;
        })




        .linkPositionUpdate((sprite, { start, end }) => {
          const middlePos = Object.assign(...['x', 'y', 'z'].map(c => ({
            [c]: start[c] + (end[c] - start[c]) / 2 // calc middle point
          })));

          // Position sprite
          Object.assign(sprite.position, middlePos);
        })
        
        .onNodeClick(node => {
          // Aim at node from outside it
          const distance = 40;
          const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);
          console.log(node.id);

          const newPos = node.x || node.y || node.z
            ? { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }
            : { x: 0, y: 0, z: distance }; // special case if node is in (0,0,0)

          Graph.cameraPosition(
            newPos, // new position
            node, // lookAt ({ x, y, z })
            3000  // ms transition duration
          );
        })
        
        
        ;      


        // const distance = 1400;
        //  // camera orbit
        // let angle = 0;

    








        
        

    // Spread nodes a little wider
    Graph.d3Force('charge').strength(-120);

  </script>





















<h1>知识图谱3D v1.0</h1>

</body>

</html>

